<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attendance-heading">Create or edit a Attendance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_machineNo">Machine No</label>
                    <input type="text" class="form-control" name="machineNo" id="field_machineNo"
                           formControlName="machineNo"/>
                    <div *ngIf="editForm.get('machineNo')!.invalid && (editForm.get('machineNo')!.dirty || editForm.get('machineNo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('machineNo')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employeeMachineId">Employee Machine Id</label>
                    <input type="text" class="form-control" name="employeeMachineId" id="field_employeeMachineId"
                           formControlName="employeeMachineId"/>
                    <div *ngIf="editForm.get('employeeMachineId')!.invalid && (editForm.get('employeeMachineId')!.dirty || editForm.get('employeeMachineId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employeeMachineId')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attendanceDateTime">Attendance Date Time</label>
                    <div class="d-flex">
                        <input id="field_attendanceDateTime" type="datetime-local" class="form-control" name="attendanceDateTime" formControlName="attendanceDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('attendanceDateTime')!.invalid && (editForm.get('attendanceDateTime')!.dirty || editForm.get('attendanceDateTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attendanceDateTime')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('attendanceDateTime')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
